---
layout: main
title: 11ty Starter template
---
<div class="m-auto max-w-6xl p-12">
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/2 max-w-md flex flex-col justify-center">
      <div class="md:text-5xl text-2xl uppercase font-black">Welcome!</div>
      <div class="text-xl mt-4">
        <p>This is a 11ty Tailwind Starter template.</p>
      </div>
      <div class="my-5 h-16">
        <a href="https://github.com/clem/11ty-tailwind-starter-template"
           class="shadow-md font-medium py-2 px-4 text-yellow-100 cursor-pointer bg-blue-600 hover:bg-blue-500 rounded text-lg text-center w-48">
          View on GitHub
        </a>
      </div>
    </div>
    <div class="flex md:justify-end w-full md:w-1/2 -mt-5">
      <div class="bg-dots">
        <div class="shadow-2xl max-w-md z-10 rounded-full mt-6 ml-4">
          <img src="/img/just-start.jpg" alt="Just start" />
          <div class="text-sm p-10 bg-white">
            Photo by <a href="https://unsplash.com/@dtopkin1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dayne Topkin</a> on
            <a href="https://unsplash.com/s/photos/start?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
